include .gitignore
include AGENTS.md
include LICENSE
include MANIFEST.in
include README.md
include README_ZH.md
include .readthedocs.yaml
include pyproject.toml
include setup.py
recursive-include .github *.yml
recursive-include benchmarks *.tsv
recursive-include docs *.css *.html *.js *.md *.py *.txt
prune docs/_build
recursive-include operon *.py *.pyx *.tcss
recursive-include tests *.py
recursive-include tools *.py
exclude operon/qc_module/_parsers.c
